html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow:hidden;

    background: url('../assets/textures/grass.png');
}
.container {
    position: relative;
}
#text {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}
#dom-widgets {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 11;
}